.movies {
  height: 100%;
  width: 1280px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  margin: 0 auto;
}

.movies__list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 364px);
  gap: 37px 24px;
}

.movies__btn-more {
  width: 320px;
  height: 36px;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-top: 50px;
  padding: 0;
}

.movies__btn-more:hover {
  transition: 0.3s linear;
  opacity: 0.8;
}


@media screen and (max-width: 1200px){
  .movies__list {
    grid-template-columns: repeat(2, 339px);
    gap: 60px 50px;
  }
  .movies__btn-more {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px){
  .movies__list {
    gap: 30px;
  }
}

@media screen and (max-width: 750px){
  .movies {
    padding-top: 40px;
  }
  .movies__list {
    grid-template-columns: 300px;
    gap: 14px;
  }
  .movies__btn-more {
    width: 240px;
  }
}