.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
  color: #000000;
  max-width: 100%;
}

.techs__title {
  text-align: start;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  border-bottom: 1px solid #000000;
  padding-bottom: 23px;
  margin: 0;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
  padding-top: 90px;
}

.techs__text{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  padding-top: 26px;
  max-width: 460px;
}

.techs__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, minmax(84px, 90px));
  grid-template-rows: 60px;
  column-gap: 10px;
  padding: 100px 0 0 0;
  margin: 0;
  justify-content: center;
}

.techs__list-item{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px){
  .techs {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 768px){
  .techs__subtitle {
    padding-top: 80px;
  }
  .techs__text {
    padding-top: 22px;
  }
  .techs__list {
    padding-top: 83px;
  }
}

@media screen and (max-width: 700px){
  .techs__list {
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: repeat(4, 57px);
    gap: 10px 10px;
    padding-top: 50px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 28px;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding-top: 60px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    padding-top: 24px;
  }
}

