.nav-tab {
  background-color: #000000;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  height: 66px;
  margin: 0;
  padding: 0;
}

.nav-tab__link{
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.nav-tab__link:hover {
  opacity: .6;
  transition: opacity .5s linear;
}

@media screen and (max-width: 424px){
  .nav-tab {
    gap: 24px;
  }
}